<div class="view-container all-teams-view-container">

	<div class="main-media-container">

		<div class="team-links-container">
			<a class="team-page-link selectable" background-image-url="{{mediaVO.teamImage}}" ng-href="/teams/{{mediaVO.teamName}}" ng-repeat="mediaVO in mediaDataArray">

				<h3 class="team-name">{{mediaVO.teamName}}</h3>

				<!--
				<div class="team-details-container">
					<img class="profile-picture" ng-src="{{mediaVO.teamThumb}}"></img>
				</div>
				-->
			</a>
		</div>
	</div>
</div>