.fade {
	
	position: absolute;
	top: 0;
	left: 0;
}

.fade.ng-hide-add, .fade.ng-hide-remove {

	/*
		ensure the element is visible during the animation, since the .ng-hide class is already on
		the element, which automatically sets 'display' to 'none' (necessary in Angular v1.2, unnecessary in v1.3).
	*/
	display: block !important;

	// uncomment this line to accomplish the same as above for Angular v1.3.
	// transition: 0s linear all;
}

.fade.ng-hide-add-active, .fade.ng-hide-remove-active {

	transition: 1.5s linear all;
}

.fade.ng-hide-remove, .fade.ng-hide-add-active {

	// initially set the opacity to 0 when the ng-hide class is removed, so
	// that it fades in, and also when the element is being hidden so that it fades out.
	opacity: 0;
}

.fade.ng-hide-remove-active {

	// set the opacity to 1 in order to animate the element in, now that ng-hide is no longer applied.
	opacity: 1;
}


.slide-transition.ng-hide-remove, .slide-transition.ng-hide-add {

	transition: 0.3s ease-out left;
}

// start showing element -OR- hide element complete.
.slide-transition.ng-hide-remove, .slide-transition.ng-hide-add.ng-hide-add-active {

	left: -240px;
}

// element show complete -OR- start hiding element.
.slide-transition.ng-hide-remove-active, .slide-transition.ng-hide-add {

	left: 0;
}